<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-md-3 col-sm-3">
      <%= f.label :title %><br>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <%#= f.fields_for :shop_attachments do |p| %>
    <div class="field row">
      <div class="col-md-3 col-sm-3">
        <label>사진</label>
      </div>
      <div class="col-md-6 col-sm-6">
      <!-- custom file upload -->
        <%= f.file_field :avatar, multiple: true, name: "shop_attachments[avatar][]", class: "custom-file-upload", data: {'btn_text' => 'Select a File'} %>
        <!-- <input class="custom-file-upload" multiple="multiple" type="file" id="shop_avatar" name="shop_attachments[avatar][]" data-btn-text="Select a File" /> -->
        <small class="text-muted block">Max file size: 10Mb (jpg/png) 수정시 파일을 하나라도 올리면 기존 이미지는 삭제됩니다.</small>
      </div>
    </div>
  <%# end %>

  <div class="field row">
    <div class="col-md-3 col-sm-3">
      <%= f.label :address %><br>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-md-3 col-sm-3">
      <%= f.label :region %><br>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= select(:shop, :region, [['홍대', "홍대"], ['신촌', "신촌"], ['건대', "건대"], ['강남', "강남"]]) %>
    </div>
  </div>

  <div class="field row">
    <div class="col-md-3 col-sm-3">
      <%= f.label :content %><br>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= f.text_area :content, maxlength: "5000", rows: 5, class: "form-control", style: "height: 200px;" %>
    </div>
  </div>

  <div class="actions col-md-9 col-sm-9 text-right">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
