<%= form_for(@escape) do |f| %>
  <% if @escape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escape.errors.count, "error") %> prohibited this escape from being saved:</h2>

      <ul>
      <% @escape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-md-1 col-sm-1">
      <%= f.label :title %><br>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="field row">
    <div class="col-md-1 col-sm-1">
      <%= f.label :content %><br>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= f.text_area :content, maxlength: "2500", rows: 5, class: "form-control", style: "height: 200px;" %>
    </div>
  </div>
  <div class="actions col-md-7 col-sm-7 text-right">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
