
<h1>Listing Escapes</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>

    <% @escapes.each do |escape| %>
      <tr>
        <td><%= escape.id %></td>
        <td><%= link_to escape.title, escape %></td>
        <td><%= escape.user.nickname %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Escape', new_escape_path %>

<%= paginate @escapes %>
