
<div class="row">

	<!-- LEFT -->
	<div class="col-md-9 col-sm-9">

		<h1 class="blog-post-title"> <%= @escape.title %> </h1>
		<ul class="blog-post-info list-inline">
			<li>
				<a href="#">
					<i class="fa fa-clock-o"></i>
					<span class="font-lato"><%= " #{@escape.created_at.strftime('%b')} #{@escape.created_at.strftime('%d')}, #{@escape.created_at.strftime("%Y")}" %></span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-comment-o"></i>
					<span class="font-lato"><%= @escape.comments.count %> Comments</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-user"></i>
					<span class="font-lato"><%= @escape.user.nickname %></span>
				</a>
			</li>
		</ul>

		<!-- article content -->
		<p><%= simple_format(@escape.content) %></p>
		<!-- /article content -->
		<% if @join.length > 0 %>
	    <button type="button" class="join btn btn-3d btn-lg btn-reveal btn-black" >참여취소 <span id ="join-count"><%= @escape.joins.count %></span></button>
	  <% else %>
	    <button type="button" class="join btn btn-3d btn-lg btn-reveal btn-black" >참여하기 <span id ="join-count"><%= @escape.joins.count %></span></button>
	  <% end %>
		<div class="text-right">
			<% if user_signed_in? && @escape.require_permission?(current_user) %>
				<td><%= link_to "수정하기", edit_escape_path(@escape), class: "btn btn-3d btn-lg btn-reveal btn-secondary" %></td>
				<td><%= link_to "삭제하기", @escape, data: {method: :delete, confirm: 'Are you sure?' }, class: "btn btn-3d btn-lg btn-reveal btn-secondary" %></td>
			<% end %>
		</div>
		<div class="text-right">
			<%= link_to 'Back', escapes_path, class: "btn btn-3d btn-lg btn-reveal btn-default" %>
		</div>
		<!-- COMMENTS -->
		<div id="comments" class="comments">

			<h4 class="page-header mb-60 fs-20">
				<span><%= @escape.comments.count %></span> COMMENTS
			</h4>

			<!-- comment item -->
			<table>
				<thead>
					<tr>
						<th width="60%">내용</th>
						<th width="15%"></th>
						<th width="10%"></th>
						<th width="15%"></th>
					</tr>
				</thead>
				<tbody class="comment-list">
					<% @escape.comments.each do |comment| %>
					<tr id="comment-<%= comment.id %>">
						<td class="comment" data-id="<%= comment.id %>"><%= comment.content%></td>
						<td><small class="block"><%= " #{comment.created_at.strftime('%b')} #{comment.created_at.strftime('%d')}, #{comment.created_at.strftime("%Y")}" %> - <%= comment.created_at.strftime("%H:%M:%S") %></small></td>
						<td class="media-heading bold text-center"><%= comment.user.nickname %></td>
						<td><button class="btn delete-comment btn-default" data-id="<%= comment.id %>" data-confirm = "Are you sure?">삭제</button></td>
					</tr>
					<% end %>
				</tbody>
			</table>

			<% if current_user %>
			<!-- Form -->
			<form id="comment-form">
				<div class="row">
					<div class="col-md-12">
						<label>COMMENT</label>
						<textarea required="required" maxlength="5000" rows="5" class="form-control" name="comment" id="comment-input"></textarea>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">

						<button class="btn btn-3d btn-lg btn-reveal btn-black">
							<i class="fa fa-check"></i>
							<span>LEAVE A COMMENT</span>
						</button>

					</div>
				</div>

			</form>
			<!-- /Form -->
			<% else %>
				<p>로그인해야 댓글을 달 수 있습니다.</p>
			<% end %>

		</div>
		<!-- /COMMENTS -->


	</div>

</div>

  <% content_for :script do %>
    <script>
      $(function(){
        $('.join').on('click', function(){
          $.ajax({
            url: "/escapes/<%= @escape.id %>/join",
            method: "GET"
          });
        });
        //댓글작성하기
        $('#comment-form').on('submit', function(e){
          e.preventDefault();
          var data = $('#comment-input').val();
          if('<%= current_user %>'){
            $.ajax({
              url: '/escapes/<%= @escape.id %>/comments',
              method: 'POST',
              data: {
                content: data
              },
              headers: {
                // 'X-Transaction': 'POST Example',
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              }
            });
          }else
            alert("로그인을 해주세요.")
        });
        //댓글삭제하기
        $('.comment-list').on('click', '.delete-comment', function(){
          var id = $(this).data('id');
          if('<%= current_user %>'){
            $.ajax({
              url: '/escapes/<%= @escape.id %>/comments/' + id,
              method: "DELETE",
              headers: {
                // 'X-Transaction': 'POST Example',
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              }
            });
          }else
            alert("로그인을 해주세요.")
        });
        //댓글수정하기
        $('.comment-list').on('click','.comment', function(){
          var nickname = $('.text-welcome')[0].children[0].innerHTML;
          if(nickname == $(this).siblings()[1].innerHTML){
            if ($(this).parents('.comment-list').find('.comment-form').length >0){
                alert('이미 수정중인 coment가 있습니다');
                return false;
            }
            var text = $(this).text();
            var id = $(this).data('id');
            $(this).siblings()[0].innerHTML = '<button class="btn btn-outline-success my-2 my-sm-0 update-comment" type="submit">수정완료</button>';
            $(this).replaceWith(`<td class="edit-comment"><input class="form-control comment-form" value="${text}"><input class="comment-id" type="hidden" value="${id}"></td>`);
          }else
            alert("본인만 수정 가능합니다.");
        });
        $('.comment-list').on('click', '.update-comment', function(){
          if('<%= current_user %>'){
            var updatedcontent = $('.comment-form').val();
            var id = $('.comment-id').val();
            $.ajax({
              url: '/escapes/<%= @escape.id %>/comments/' + id,
              method : 'PATCH',
              data: {
                content: updatedcontent
              },
              headers: {
                // 'X-Transaction': 'POST Example',
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              }
            })
          }else
            alert("로그인을 해주세요.")
        });
      })
    </script>
  <% end %>
