
<p>
  <strong>User:</strong>
  <%= @escape.user.nickname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @escape.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @escape.contents %>
</p>

    <%= link_to 'Back', escapes_path %>

  <% if user_signed_in? && @escape.require_permission?(current_user) %>
    <td><%= link_to "수정하기", edit_escape_path(@escape) %></td>
    <td><%= link_to "삭제하기", @escape, data: {method: :delete, confirm: 'Are you sure?' } %></td>
  <% end %>


  <!-- 참여하기,참여취소버튼만들어야함  -->
  <% if @join.length > 0 %>
    <button type="button" class="join" >참여취소(<span id ="join-count"><%= @escape.joins.count %></span>)</button>
  <% else %>
    <button type="button" class="join" >참여하기(<span id ="join-count"><%= @escape.joins.count %></span>)</button>
  <% end %>

<% if current_user %>
  <form id="comment-form">
    <input id="comment-input" type="text" placeholder="Comment">
    <button type="submit">댓글등록</button>
  </form>
<% else %>
  <p>로그인해야 댓글을 달 수 있습니다.</p>
<% end %>
  <table>
    <thead>
      <tr>
        <th width="60%">내용</th>
        <th width="15%"></th>
        <th width="10%"></th>
        <th width="15%"></th>
      </tr>
    </thead>
    <tbody class="comment-list">
      <% @escape.comments.reverse.each do |comment| %>
      <tr id="comment-<%= comment.id %>">
        <td class="comment" data-id="<%= comment.id %>"><%= comment.contents%></td>
        <td><%= time_ago_in_words(comment.created_at) %></td>
        <td><%= comment.user.nickname %></td>
        <td><button class="btn delete-comment" data-id="<%= comment.id %>">삭제</button></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% content_for :script do %>
    <script>
      $(function(){
        $('.join').on('click', function(){
          $.ajax({
            url: "/escapes/<%= @escape.id %>/join",
            method: "GET"
          });
        });

        //댓글작성하기
        $('#comment-form').on('submit', function(e){
          e.preventDefault();
          var data = $('#comment-input').val();
          if('<%= current_user %>'){
            $.ajax({
              url: '/escapes/<%= @escape.id %>/comments',
              method: 'POST',
              data: {
                contents: data
              },
              headers: {
                // 'X-Transaction': 'POST Example',
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              }
            });
          }else
            alert("로그인을 해주세요.")
        });

        //댓글삭제하기
        $('.comment-list').on('click', '.delete-comment', function(){
          var id = $(this).data('id');
          if('<%= current_user %>'){
            $.ajax({
              url: '/escapes/<%= @escape.id %>/comments/' + id,
              method: "DELETE",
              headers: {
                // 'X-Transaction': 'POST Example',
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              }
            });
          }else
            alert("로그인을 해주세요.")
        });

        //댓글수정하기
        $('.comment-list').on('click','.comment', function(){
          if('<%= current_user.nickname %>' == $(this).siblings()[1].innerHTML){
            if ($(this).parents('.comment-list').find('.comment-form').length >0){
                alert('이미 수정중인 coment가 있습니다');
                return false;
            }
            var text = $(this).text();
            var id = $(this).data('id');
            $(this).siblings()[0].innerHTML = '<button class="btn btn-outline-success my-2 my-sm-0 update-comment" type="submit">수정완료</button>';
            $(this).replaceWith(`<td class="edit-comment"><input class="form-control comment-form" value="${text}"><input class="comment-id" type="hidden" value="${id}"></td>`);
          }else
            alert("본인만 수정 가능합니다.")
        });
        $('.comment-list').on('click', '.update-comment', function(){
          if('<%= current_user %>'){
            var updatedcontents = $('.comment-form').val();
            var id = $('.comment-id').val();
            $.ajax({
              url: '/escapes/<%= @escape.id %>/comments/' + id,
              method : 'PATCH',
              data: {
                contents: updatedcontents
              },
              headers: {
                // 'X-Transaction': 'POST Example',
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              }
            })
          }else
            alert("로그인을 해주세요.")
        });
      })
    </script>
  <% end %>
