<!DOCTYPE html>
<html>
<head>
  <title>Gemtaku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- 임시링크 -->
  <% if user_signed_in? %>
    <a href="#" class="dropdown-item"><%= current_user.email %></a>
    <%= link_to 'Sign out', destroy_user_session_path, class: 'dropdown-item', data: {method: :delete, confirm: "로그아웃 하시겠습니까??"} %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: 'dropdown-item' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'dropdown-item' %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
